{% extends 'base.html.twig' %}

{% block title %}Edit Ward{% endblock %}

{% block body %}
    <h1>Edit Ward</h1>

    {{ include('ward/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('ward_index') }}">back to list</a>

    {{ include('ward/_delete_form.html.twig') }}
{% endblock %}
