{% extends 'base.html.twig' %}

{% block title %}New Outcome{% endblock %}

{% block body %}
    <h1>Create new Outcome</h1>

    {{ include('outcome/_form.html.twig') }}

    <a href="{{ path('outcome_index') }}">back to list</a>
{% endblock %}
