{% extends 'base.html.twig' %}

{% block title %}New Diploma{% endblock %}

{% block body %}
    <h4>Add student diploma</h4>

    {{ include('diploma/_form.html.twig') }}

    <a href="{{ path('app_student_show', {'id': student.id }) }}"> back to list</a>
{% endblock %}
