{% extends 'base.html.twig' %}

{% block title %}Edit HightSchool{% endblock %}

{% block body %}
    <h1>Edit HightSchool</h1>

    {{ include('hight_school/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hight_school_index') }}">back to list</a>

    {{ include('hight_school/_delete_form.html.twig') }}
{% endblock %}
