{% extends 'base.html.twig' %}

{% block title %} Home {% endblock %}

{% block body %}

{{ date('now') | eth_date  }} 





                           <div class="row">
					        
							
						   </div><!-- /.row -->

						<div class="hr hr32 hr-dotted">
						
						</div>
						


{% endblock %}
