{% extends 'base.html.twig' %}

{% block title %}Edit Kebele{% endblock %}

{% block body %}
    <h1>Edit Kebele</h1>

    {{ include('kebele/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('kebele_index') }}">back to list</a>

    {{ include('kebele/_delete_form.html.twig') }}
{% endblock %}
