{% extends 'base.html.twig' %}

{% block title %}Edit Referrals{% endblock %}

{% block body %}
    <h1>Edit Referrals</h1>

    {{ include('referrals/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_referrals_index') }}">back to list</a>

    {{ include('referrals/_delete_form.html.twig') }}
{% endblock %}
