{% extends 'base.html.twig' %}

{% block title %}New HealthFacility{% endblock %}

{% block body %}
    <h1>Create new HealthFacility</h1>

    {{ include('health_facility/_form.html.twig') }}

    <a href="{{ path('health_facility_index') }}">back to list</a>
{% endblock %}
