{% extends 'base.html.twig' %}

{% block title %}Edit Room{% endblock %}

{% block body %}
    <h5>Edit Room</h5>

    {{ include('room/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="  {{ path('room_index',{id:unit.id}) }}">Back to list</a>

    {{ include('room/_delete_form.html.twig') }}
{% endblock %}
