{% extends 'base.html.twig' %}

{% block title %}New Room{% endblock %}

{% block body %}
    <h4>Create new Room in <a href="#" > {{ unit }} </a> </h4>

    {{ include('room/_form.html.twig') }}

    <a href="  {{ path('room_new',{id:unit.id}) }}">Back to list</a>
{% endblock %}
