{% extends 'base.html.twig' %}

{% block title %}Edit ReasonOfReferral{% endblock %}

{% block body %}
    <h1>Edit ReasonOfReferral</h1>

    {{ include('reason_of_referral/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_reason_of_referral_index') }}">back to list</a>

    {{ include('reason_of_referral/_delete_form.html.twig') }}
{% endblock %}
