{% extends 'base.html.twig' %}

{% block title %}Edit VitalSign{% endblock %}

{% block body %}
    <h1>Edit VitalSign</h1>

    {{ include('vital_sign/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_vital_sign_index') }}">back to list</a>

    {{ include('vital_sign/_delete_form.html.twig') }}
{% endblock %}
