{% extends 'base.html.twig' %}

{% block title %}Edit Admimssion{% endblock %}

{% block body %}
    <h1>Edit Admimssion</h1>

    {{ include('admimssion/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admimssion_index') }}">back to list</a>

    {{ include('admimssion/_delete_form.html.twig') }}
{% endblock %}
