{% extends 'base.html.twig' %}

{% block title %}New Bed{% endblock %}

{% block js%}
<script>
	$(document).ready(function () {
        $('#form_unit').html('')
        $('#form_room').html('')
	});
        $.ajax({
            type: 'GET',
            url: '{{ url("ward_index") }}',
            data: {},
            dataType: "json",
            success: function (response) {
                if (response.data) {
                    $.each(response.data, function (key, value) {
                        $("#form_ward").append('<option value="' + value.id + '">' + value
                            .name + '</option>');
                    });
                }
            }
        });
        $.ajax({
            type: 'GET',
            url: '{{ url("ward_index") }}',
            data: {},
            dataType: "json",
            success: function (response) {
                if (response.data) {
                    $.each(response.data, function (key, value) {
                        $("#selectUpdateWard").append('<option value="' + value.id + '">' + value
                            .name + '</option>');
                    });
                }
            }
        });
        $('#form_ward').on('change', function () {
            var idWard = this.value;
            var wardName = $("#form_ward option:selected").text();
            wardName = wardName.trim();
            $("#form_unit").html('');
            $("#form_room").html('');
            $("#form_bed").html('');
            $.ajax({
                url: "/unit/" + idWard,
                type: "GET",
                dataType: 'json',
                success: function (response) {
                    if (response.data) {
                        $('#form_unit').html('<option value="">Select Unit</option>');
                        $.each(response.data, function (key, value) {
                            $("#form_unit").append('<option value="' + value.id +
                                '">' + value.name + '</option>');
                        });
                    }
                }
            });
        });
        $('#form_unit').on('change', function () {
            var idUnit = this.value;
            var wardName = $("#form_unit option:selected").text();
            wardName = wardName.trim();
            $("#form_room").html('');
            $("#form_bed").html('');
            $.ajax({
                url: "/room/" + idUnit,
                type: "GET",
                dataType: 'json',
                success: function (response) {
                    if (response.data) {
                        $('#form_room').html('<option value="">Select Room</option>');
                        $.each(response.data, function (key, value) {
                            $("#form_room").append('<option value="' + value.id +
                                '">' + value.name + '</option>');
                        });
                    }
                }
            });
        });

        $('#form_room').on('change', function () {
            var idRoom = this.value;
            var wardName = $("#form_room option:selected").text();
            wardName = wardName.trim();
            $("#form_bed").html('');
            $.ajax({
                url: "/bed/" + idRoom,
                type: "GET",
                dataType: 'json',
                success: function (response) {
                    if (response.data) {
                        $('#form_bed').html('<option value="">Select Bed</option>');
                        $.each(response.data, function (key, value) {
                            $("#form_bed").append('<option value="' + value.id +
                                '">' + value.name + '</option>');
                        });
                    }
                }
            });
        });
</script>
{% endblock %}
{% block body %}

 <h3>Add new Bed  </a></h1>
    {{ include('bed/_form2.html.twig') }}
    <a href="{{ path('view_beds') }}">Back to list</a>
{% endblock %}
