{% extends 'base.html.twig' %}
{% block body %}


<h4> Patient Referral report</h4>
<br>	
<div>

		

<form action="" method="POST" >

		  <div class="form-group col-md-4">

							<label class="col-12 control-label no-padding-right">
								Start date: <span style="color:red;"> * </span>
							</label>


							<div class="col-12">

		
								<input type="text" name="sdate" id="start"  autocomplete="off" class="form-control ace-select" >
							
			</div>
		
		</div>

			  <div class="form-group col-md-4">

							<label class="col-12 control-label no-padding-right">
							End date: <span style="color:red;"> * </span>
							</label>


							<div class="col-12">
                   	<input type="text" name="edate" id="end"  autocomplete="off" class="form-control ace-select" >
							
		
		
	            	</div>

	</div>

                 	<div class="pull-right tableTools-container">
							<button type="submit" class="btn btn-xs btn-success">
							 <i class="fa fa-print"></i> 	
							   Generate 
							</button>
						</div>

	</div>
		</form>			
{% endblock %}

